body{
	background-image: linear-gradient(to right, #f9d52373 0%, #ff4e5169 100%), url("../img/inicio-bann.jpg");

}
h1{
	font-family: 'Chango';
	font-size: 40px;
	color:white;
	text-align: center;
	border:4px dotted #fff9f9;
	padding: 8px;
}
p{
	font-family: 'Courgette';
	font-size: 25px;
	text-align: center;
	color: white;

}
img{
	widht:750px;
	height:550px;


}
